body {
  width: 800px;
  margin: auto;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

header {
  text-align: center;
}

main h2 {
  text-align: center;
}

footer {
  font-size: small;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.degree::after {
  content: "°";
}

/* Following code by https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} 

table thead tr {
  background-color:#009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #5f61e2;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #5f61e2;
}
